.page-section 
  background-image: url('/assets/images/logo.png'); 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center center; 
  background-attachment: fixed; 
